<div class="main-about">
  <a routerLink="/about" (click)="onSelected()" *ngIf="simpleMode"><h5>About me</h5></a>
  <p *ngIf="simpleMode; else textP">Hi, my name is Sanja Protic. I was born on November 20, 1987, in Belgrade.
     I am a junior developer with knowledge of front-end technology and I'm looking for a job.
     A very ambitious person, willing to learn and acquire new knowledge as well as for constant advancement.
     I love structure and order and I also stand for quality. 
     Also I like working in a team because it can be so faster and better to learning. </p>
  <div>
      <ng-template #textP>
          <h5>About me</h5>
         <p>
          Hi, my name is Sanja Protic. I was born on November 20, 1987, in Belgrade.
          I am a junior developer with knowledge of front-end technology and I'm looking for a job.
          A very ambitious person, willing to learn and acquire new knowledge as well as for constant advancement.
          I love structure and order and I also stand for quality. 
          Also, I like working in a team because it can be faster and better for learning.
         </p>
         <p>
          I completed the course for frontend development. 
          The course was very intensive, with lots of work, learning and exercising.
          After the course, I continued to improve myself, doing my tasks and reading new things. 
          Because tracking novelty helps you stay in the focus of what is most wanted and what is most used in practice.
         </p>
       </ng-template>
       

  </div>
    
</div>
