@import "src/app/scss/variables";

.main-about {
    padding: 2rem;
    a {
        color: $green-color;
        text-decoration: none;
        &:hover {
            color: $white-color;
        }
        h5 {
            padding-bottom: 1rem;
            
        }

    }
  
}
