<div class="content-container">
    <div class="education">
        <fa-icon [icon]="['fas', 'book-open']" class="icon"></fa-icon>
         <h5>Education</h5>
        <p>Bachelor of Technical Faculty "Mihajlo Pupin", Zrenjanin
            <span>Major in Manager of business communications</span>
        </p>
        <p>Aleph ICT Course, Novi Sad
            <span>Course for frontend developing</span>
        </p>
    </div>
    <div class="skills">
            <fa-icon [icon]="['fas', 'magic']" class="icon"></fa-icon>
            <h5>Skills</h5>
            <div class="skills-list">
                <div>HTML5</div>
                <div>CSS3</div>
                <div>JAVASCRIPT</div>
                <div>ANGULAR</div>
                <div>TYPESCRIPT</div>
                <div>NODE.JS</div>
                <div>SASS/SCSS</div>
            </div>
    </div>
    <div class="project">
        <fa-icon [icon]="['fas', 'code']" class="icon"></fa-icon>
        <h5>Project</h5>
        <p>SanjaProtic/my-resume on GitHub
            <span>Made with Angular and Sass</span>
        </p>
        <p><a href="https://www.pvcstyle.rs" target="_blank">Visit my website pvcstyle.rs</a>
            <span>Made with Html and Css</span>
        </p>
    </div>
</div>

