@mixin main {
	* {
		margin: 0;
		padding: 0;
		font-family: 'Roboto', sans-serif;
		-webkit-box-sizing: border-box;
	  	   -moz-box-sizing: border-box;
	  			box-sizing: border-box;
	}
}
@mixin rotate {
	-ms-transform: skewY(-60deg); 
    -webkit-transform: skewY(-60deg); 
    transform: skewY(-60deg); 
}
@mixin rotate2{
	-ms-transform: skewY(0); 
    -webkit-transform: skewY(0); 
    transform: skewY(0); 
}
