/* You can add global styles to this file, and also import other style files */
@import 'app/scss/mixins';


@include main;
.main {
    max-width: 930px;
    margin: 0 auto;
    height: auto;
    border: 1px solid #d3d3d3;
}