/* You can add global styles to this file, and also import other style files */
@import 'app/scss/mixins';



@include main;
body {
    background-color: #f1f1f1!important;
}
.main {
    max-width: 950px;
    margin: 2rem auto;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
 }
 @media only screen and (min-width: 320px) and (max-width: 568px) {
     body {
         padding: 0.9375rem;
     }
 }
