@import "src/app/scss/variables";

.main-contact {
    padding: 2rem;
    a {
        color: $white-color;
        text-decoration: none;
        &:hover {
            color: $hover-color; 
        }
        h5 {
            padding-bottom: 1rem;
            
        }
    }

}
.icon {
    padding-right: 1rem;
}