.main-contact {
    padding: 2rem;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: #fdf4c1;
        }
        h5 {
            padding-bottom: 1rem;
            
        }
    }

}
.icon {
    padding-right: 1rem;
}