<div class="main-contact">
    <a href="#"><h5>Contact</h5></a>
    <div><fa-icon [icon]="['fas', 'city']" class="icon"></fa-icon>Zmaj Ognjena Vuka 20, Novi Sad</div>
    <div><fa-icon [icon]="['fas', 'phone-alt']" class="icon"></fa-icon>063/1625090</div>
    <div><fa-icon [icon]="['fas', 'envelope']" class="icon"></fa-icon>gardinovacki023@gmail.com</div>
    <div><fa-icon [icon]="['fab', 'github']" class="icon"></fa-icon>SanjaProtic</div>
    <div><fa-icon [icon]="['fab', 'skype']" class="icon"></fa-icon>gardinovacki023</div>
    
</div>
