<div class="main-contact">
    <a routerLink="/contact" (click)="onSelected()" *ngIf="simpleMode; else heading"><h5>Contact</h5></a>
    
    <div><fa-icon [icon]="['fas', 'city']" class="icon"></fa-icon>Zmaj Ognjena Vuka 20, Novi Sad</div>
    <div><fa-icon [icon]="['fas', 'phone-alt']" class="icon"></fa-icon>063/1625090</div>
    <div><fa-icon [icon]="['fas', 'envelope']" class="icon"></fa-icon>gardinovacki023@gmail.com</div>
    <div><fa-icon [icon]="['fab', 'skype']" class="icon"></fa-icon>gardinovacki023</div>

    <div class="socialLinks" *ngIf="simpleMode">
        <a href="https://github.com/SanjaProtic" target="_blank"><fa-icon [icon]="['fab', 'github']" class="icon fa-lg"></fa-icon></a>
        <a href="https://rs.linkedin.com/in/sanja-protic-9665a6123?trk=people-guest_profile-result-card_result-card_full-click" target="_blank"><fa-icon [icon]="['fab', 'linkedin']" class="icon fa-lg"></fa-icon></a>
    </div>

    <ng-template #heading>
        <h5>Contact</h5>
    </ng-template>
    
</div>
